<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">An Ardent Admirer of K-Drama Magic</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-10">
                        <p>Enter the world of dramas and movies through the discerning eyes and eloquent words of Rohit, a dedicated reviewer whose passion for storytelling transcends the screen. As an active contributor to a leading review website, Rohit has carved out a niche as a reliable and insightful voice in the realm of entertainment critique.</p>
                        <p>With an insatiable appetite for compelling narratives, Rohit’s journey began not just as a viewer but as a connoisseur eager to dissect and share the essence of each cinematic masterpiece. His reviews are not mere assessments; they are captivating journeys that offer readers a glimpse into the soul of every story.</p>
                        <p>Whether it’s the emotional rollercoaster of dramas or the immersive world-building of movies, Rohit approaches each review with a keen eye for detail, an empathetic understanding of characters, and an appreciation for the craftsmanship behind the scenes. His articulate analysis delves beyond surface-level observations, unraveling the nuances that make each production an unparalleled work of art.</p>
                        <p>Rohit's dedication to his craft, coupled with his commitment to delivering honest and informed opinions, establishes him as a trusted authority in the world of entertainment reviews. His contributions serve as a guiding light for those seeking their next cinematic adventure, ensuring that each reader embarks on a viewing experience enriched by his expertise and passion.
                        <p>Join Rohit on his cinematic journey, where every review is not just a critique but an invitation to explore the captivating tapestry of dramas and movies that enrich our lives.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <div class="col-10 d-flex justify-content-end mb-3"><a class="btn btn-secondary" href="{{url_for('home')}}">← Back To Home</a></div>
        {% include "footer.html" %}
    </body>
</html>
